<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Scanner"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProgettoLetturaDati"
        tools:targetApi="31">
        <activity
            android:name="com.example.progettoletturadati.ActivityInsert"
            android:exported="false" />
        <activity
            android:name="com.example.progettoletturadati.TreeViewDir.ActivityJSONLIST2"
            android:exported="false"
            android:parentActivityName="com.example.progettoletturadati.ActivityLabels"/>
        <activity
            android:name="com.example.progettoletturadati.ActivityInfoList"
            android:exported="false"
            android:parentActivityName="com.example.progettoletturadati.ActivityInfo" />

        />
        <activity
            android:name="com.example.progettoletturadati.ActivityInfo"
            android:exported="false" />
        <activity
            android:name="com.example.progettoletturadati.TitleActivity"
            android:exported="true"
            android:priority="1000">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.progettoletturadati.TreeViewDir.ActivityJSONLIST"
            android:exported="false"
            android:parentActivityName="com.example.progettoletturadati.ActivityEAN" />
        <activity
            android:name="com.example.progettoletturadati.ActivityEAN"
            android:exported="false"
            android:parentActivityName="com.example.progettoletturadati.MainActivity" />
        <activity
            android:name="com.example.progettoletturadati.ActivityLabels"
            android:exported="false"
            android:parentActivityName="com.example.progettoletturadati.MainActivity" />
        <activity
            android:name="com.example.progettoletturadati.MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>